n8n/workflows/AI_Engineering_test.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "url": "https://drive.usercontent.google.com/u/0/uc?id=1RXj_3txgmyX2Wyt9ZwM7l4axfi5A6EC-&export=download",
        "options": {}
      },
      "id": "ccfde44f-ede0-498f-82d7-d0a418879cdc",
      "name": "Download CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        288,
        -48
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        176
      ],
      "id": "19efa813-2a00-4399-9e6b-bbccc0a40674",
      "name": "When chat message received",
      "webhookId": "313cfaec-96cc-4145-b5e8-fc6f67205903"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        144
      ],
      "id": "ffc07045-7b1b-4a79-82a9-c32d32f7a28f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        432,
        320
      ],
      "id": "31877509-7e8a-45b3-bdb9-8e2e7c29feda",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "OrZIRgR5KB7dz06Q",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        592,
        368
      ],
      "id": "fe3fbc2a-b3e1-4002-929b-2a2b60d2297a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "sZbOyMAFeryMi3QZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        592,
        -48
      ],
      "id": "d18d961b-e187-47c4-8173-8230162d3578",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        -48
      ],
      "id": "be83848d-c23c-4240-9d60-fd9ff12777d0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "tableId": "adds_spenses",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "campaign_date",
              "fieldValue": "={{ $json.date }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "account",
              "fieldValue": "={{ $json.account }}"
            },
            {
              "fieldId": "campaign",
              "fieldValue": "={{ $json.campaign }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "device",
              "fieldValue": "={{ $json.device }}"
            },
            {
              "fieldId": "spend",
              "fieldValue": "={{ $json.spend }}"
            },
            {
              "fieldId": "clicks",
              "fieldValue": "={{ $json.clicks }}"
            },
            {
              "fieldId": "impressions",
              "fieldValue": "={{ $json.impressions }}"
            },
            {
              "fieldId": "conversions",
              "fieldValue": "={{ $json.conversions }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        -48
      ],
      "id": "2fd60873-a12b-47f0-8a45-0649f241fb19",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "jqUF6znpuByX9WvY",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        832,
        320
      ],
      "id": "766cdea9-cc61-4564-818b-a1e66e9ff034",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "sZbOyMAFeryMi3QZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download CSV": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "626133e6-8189-428e-83fa-d7156393a862",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0435d12b2c381edd6d3c53ef9fa851468927f0fb341bce1a4488ecb04f649b2"
  },
  "id": "KlImJQ4d7l8MZjqd",
  "tags": []
}